version: "3.9"

services:
  api:
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: ${DX_GPU_COUNT:-all}
              capabilities: [gpu]
    environment:
      NVIDIA_VISIBLE_DEVICES: ${NVIDIA_VISIBLE_DEVICES:-all}
      NVIDIA_DRIVER_CAPABILITIES: ${NVIDIA_DRIVER_CAPABILITIES:-compute,utility}

  worker:
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: ${DX_GPU_COUNT:-all}
              capabilities: [gpu]
    environment:
      NVIDIA_VISIBLE_DEVICES: ${NVIDIA_VISIBLE_DEVICES:-all}
      NVIDIA_DRIVER_CAPABILITIES: ${NVIDIA_DRIVER_CAPABILITIES:-compute,utility}
